<div class="criar">
    <h2>Adicionar nova tarefa</h2>
    <form action="/armazenar" method="POST" class="formulario_criar_tarefa">
        <div class="campos_criar_tarefa">
            <input type="text" name="nome" placeholder="Digite o nome da tarefa">
            <input type="text" name="descricao" placeholder="Digite a descrição da tarefa">
            <button type="submit">Adicionar</button>
        </div>
    </form>
</div>